.evan-chat-open-panel-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}


/* 好友面板开始 */

.evan-chat-open-panel {
    position: fixed;
/*     right: 0;
    top: 0;
    width: 300px;
    height: 100%; */
    right:20px;
    bottom:20px; 
    height: 724px;
    z-index: 3;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    /* display: none; */
}

.chat-open-panel-content {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../images/skins/skin_007.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.close-open-panel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -17px;
    border: 1px solid #f2f2f2;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    border-right: 0;
    padding: 10px 0;
    cursor: pointer;
    z-index: 4;
}

.close-open-panel-btn:hover {
    background-color: rgba(95, 184, 120, 1);
}

.close-open-panel-btn:hover i {
    color: #fff;
}

.close-open-panel-btn i {
    color: #e2e2e2;
}

.chat-panel-head {
    padding: 10px 5px;
    overflow: hidden;
}

.chat-panel-head .panel-head-left {
    float: left;
    width: 25%;
    min-width: 25%;
    text-align: center;
}

.chat-panel-head .panel-head-right {
    float: left;
    width: 75%;
    line-height: 30px;
    overflow: hidden;
    padding-left: 5px;
    box-sizing: border-box;
}

.chat-panel-head .panel-head-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
}

.chat-panel-head .panel-head-nickname {
    /* margin-bottom: 10px; */
}

.panel-head-nickname h3 {
    font-weight: 700;
}

.chat-panel-head .panel-head-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.chat-panel-body {
    overflow-y: auto;
}

.chat-panel-body .panel-body-tab {
    margin-top: 0;
    background-color: rgba(255, 255, 255, .8);
}

.chat-panel-body .layui-tab-content {
    /* padding: 10px 0; */
    padding: 0;
}

.chat-panel-body .layui-tab-brief>.layui-tab-title {
    color: #666;
}

.chat-panel-body .layui-tab-brief>.layui-tab-title .layui-this {
    color: #666;
}

.chat-panel-body .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #999;
}

.chat-panel-body .layui-tab-content .chat-user-friend-count {
    padding-left: 5px;
}

.chat-panel-body .layui-tab-content .layui-colla-title {
    height: 34px;
    line-height: 34px;
    background-color: transparent;
}

.chat-panel-body .layui-tab-content .layui-tab-item {
    height: 511px;
    overflow-y: auto;
    padding: 10px 0;
}

.panel-body-friends-item {
    padding: 10px 0;
}


/*好友列表 滚动条样式*/

.chat-panel-body .layui-tab-item::-webkit-scrollbar {
    width: 0px;
    /* width: 4px; */
}

.chat-panel-body .layui-tab-item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.chat-panel-body .layui-tab-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}


/* 好友列表 滚动条样式*/

.chat-panel-body .layui-tab-content .layui-colla-title:hover {
    background-color: rgba(0, 0, 0, .1);
}

.chat-panel-body .layui-tab-content .layui-colla-content {
    padding: 0;
}

.chat-panel-body .layui-collapse {
    border: 0;
}

.chat-panel-body .layui-colla-content,
.chat-panel-body .layui-colla-item {
    border: 0;
}

.chat-panel-body .chat-panel-user-item {
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 0;
    box-sizing: border-box;
}

.chat-panel-body .chat-panel-user-item:hover {
    background-color: rgba(242, 242, 242, .5);
}

.chat-panel-user-item .panel-user-left {
    float: left;
    width: 22%;
    text-align: center;
    min-width: 44px;
}

.panel-user-left .avatar {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 50%;
}

.chat-panel-user-item .panel-user-right {
    float: left;
    line-height: 22px;
    width: 78%;
}

.panel-user-right h3 {
    font-size: 14px;
}

.panel-user-right p {
    font-size: 12px;
}

.chat-panel-body .panel-body-search {
    position: relative;
    /* background-color: #009688; */
}

.panel-body-search .panel-search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: #666;
}

.panel-body-search .panel-search-clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    border-radius: 50%;
    background-color: #c2c2c2;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    display: none;
}

.panel-body-search input[name=SearchKey] {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 0;
    background-color: rgba(0, 0, 0, .1);
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: initial;
    color: #666;
}

.panel-body-search input[name=SearchKey]:focus {
    background-color: #fff;
}

.chat-panel-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
    background-color: rgba(255, 255, 255, .8);
}

.chat-panel-foot .layui-btn-group {
    background-color: transparent;
}

.chat-panel-foot button {
    border: 0;
    background-color: transparent;
}

.chat-panel-foot .layui-btn-group .layui-btn-primary:first-child {
    border: 0;
}


/* 好友面板结束 */


/* 弹窗设置 开始*/

.chat-settings {
    width: 300px;
}

.chat-settings .layui-form-label {
    width: 100px;
}


/* 弹窗设置 结束 */


/* 皮肤设置 开始 */

.chat-panel-set-skins {
    width: 300px;
    padding: 10px;
}

.chat-panel-set-skins {
    overflow: hidden;
}

.chat-panel-set-skins li {
    width: 25%;
    height: 100px;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.chat-panel-set-skins li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.chat-panel-set-skins li a img {
    width: 100%;
    height: 100%;
}

.select-skin {
    border-radius: 5px;
}

.select-skin:hover {
    border: 1px solid #ff80ab;
}

.select-skin.active {
    border: 1px solid #ff80ab;
}

.upload-skin {
    text-align: center;
    line-height: 90px;
}

.upload-skin>a {
    background-color: #f2f2f2;
}

.upload-skin>a>i {
    font-size: 30px;
    color: #666;
}


/* 皮肤设置 结束 */
